# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mathias\OneDrive\Documents\ML & Statistics\00_Pycharm_Projects\Udacity\data_science_blog_post\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
